
(GET) /imgDownload?dir=<br>
(POST) /fileUpload<br>
PARAM file <- Put File Data
<h3>Single File Upload</h3>
<form action="./file/fileUpload" enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>
